In [326]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [327]:
environment_variables = dotenv_values('.env')

In [328]:
# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [329]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [330]:

# Use the connect method of the pyodbc library and pass in the connection string.
connection = pyodbc.connect(connection_string)

In [331]:
#
query1 = "SELECT * FROM dbo.LP1_Startup_funding2020"
df_2020 = pd.read_sql(query1, connection)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [332]:
#overview of 2020 data
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [333]:
query2 = "SELECT * FROM dbo.LP1_Startup_funding2021"
df_2021 = pd.read_sql(query2, connection)
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [334]:
#overview of 2021 data
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [335]:
#reading third dataset
df_2019 =  pd.read_csv(r'C:\Users\Georginah/Downloads/startup_funding2019.csv')
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [336]:
#overview of 2019 data
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [337]:
df_2018 = pd.read_csv(r'C:\Users\Georginah\Downloads\startup_funding2018.csv')
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [338]:
#overview of 2018 data
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

Observations from the data
#There are some columns with different names, and need to be changed for uniformity before concatenation
#The currency in most data is in dollars, with one dataset(2018) with both rupees and dollars.The rupees need to be changed to dollars
#There is an extra column(column 10) in the 2020 data that we don't really need, so we will delete it

***Data Cleaning 2018***

In [339]:
#view 2018 data
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [340]:
#rename columns
new_names = {'Company Name':'Company_Brand','Industry':'Sector','Round/Series':'Stage','Location':'HeadQuarter','About Company':'What_it_does'}
df = df_2018.rename(columns=new_names)
df.head()

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [341]:
# Add new columns with NaN values

df['Founded'] = '0'
df['Founders'] = 'N/A'
df['Investor'] = 'N/A'

In [342]:
# Rearrange columns
columns_order = ['Company_Brand','Founded', 'HeadQuarter', 'Sector','What_it_does','Founders','Investor','Amount','Stage']

df = df.reindex(columns=columns_order)

df_2018 = df
df_2018

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,TheCollegeFever,0,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",N/A,N/A,250000,Seed
1,Happy Cow Dairy,0,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,N/A,N/A,"₹40,000,000",Seed
2,MyLoanCare,0,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,N/A,N/A,"₹65,000,000",Series A
3,PayMe India,0,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,N/A,N/A,2000000,Angel
4,Eunimart,0,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,N/A,N/A,—,Seed
...,...,...,...,...,...,...,...,...,...
521,Udaan,0,"Bangalore, Karnataka, India","B2B, Business Development, Internet, Marketplace","Udaan is a B2B trade platform, designed specif...",N/A,N/A,225000000,Series C
522,Happyeasygo Group,0,"Haryana, Haryana, India","Tourism, Travel",HappyEasyGo is an online travel domain.,N/A,N/A,—,Series A
523,Mombay,0,"Mumbai, Maharashtra, India","Food and Beverage, Food Delivery, Internet",Mombay is a unique opportunity for housewives ...,N/A,N/A,7500,Seed
524,Droni Tech,0,"Mumbai, Maharashtra, India",Information Technology,Droni Tech manufacture UAVs and develop softwa...,N/A,N/A,"₹35,000,000",Seed
525,Netmeds,0,"Chennai, Tamil Nadu, India","Biotechnology, Health Care, Pharmaceutical",Welcome to India's most convenient pharmacy!,N/A,N/A,35000000,Series C

In [343]:
#checking info of the df
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Founded        526 non-null    object
 2   HeadQuarter    526 non-null    object
 3   Sector         526 non-null    object
 4   What_it_does   526 non-null    object
 5   Founders       526 non-null    object
 6   Investor       526 non-null    object
 7   Amount         526 non-null    object
 8   Stage          526 non-null    object
dtypes: object(9)
memory usage: 37.1+ KB

In [344]:
#cleaning the whole database after rearranging the columns ,inserting the columns and filling the inserted columns with n/a and 0
def swap_non_numeric_with_numeric(df):
    amounts_column = 'Amount'
    stage_column = 'Stage'
    investor_column = 'Investor'
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Function to find numeric values in 'Stage' column
    def find_numeric_values():
        numeric_dict = {}
        for index, value in df[stage_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values()
 
    # Find numeric values in 'Stage' column
    numeric_values = find_numeric_values()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Stage'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Stage' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, stage_column] = non_numeric_values[index]
 
    # Function to find numeric values in 'Investor' column
    def find_numeric_values_founders():
        numeric_dict = {}
        for index, value in df[investor_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values_founders():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values_founders()
 
    # Find numeric values in 'Founders' column
    numeric_values = find_numeric_values_founders()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Founders'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Founders' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, investor_column] = non_numeric_values[index]
 
    return df
 
 
def strip_dollar_and_comma(df):
    # Assuming column names are 'Amounts' and 'Stage'
    numeric_columns = ['Investor', 'Amount', 'Stage']
 
    # Iterate through numeric columns and strip dollar sign ($) and comma (,)
    for column in numeric_columns:
        df[column] = df[column].replace('[\₹ ,]', '', regex=True)
 
    return df
 
 
def replace_non_numeric_with_zero(df):
    # Assuming column name is 'Amounts'
    amounts_column = 'Amount'
    # Replace non-numeric values in 'Amounts' column with 0
    df[amounts_column] = pd.to_numeric(df[amounts_column], errors='coerce').fillna(0).astype(int)
 
    return df


def fill_null_values(df):
    # Specify the columns to fill with 'N/A'
    columns_to_fill_na = ['HeadQuarter', 'Investor', 'Stage','Sector']
 
    # Fill null values in specified columns with 'N/A'
    df[columns_to_fill_na] = df[columns_to_fill_na].fillna('N/A')

    # Fill null values in 'Founded' with 0   
    df['Founded'] = df['Founded'].fillna(0)

    # Convert 'Founded' values to integers    
    df['Founded'] = df['Founded'].astype(int)
 
    return df


  
 
# Example usage
#data = {'Founders': ['$1,200', '$1,300,000', '', 'D', 'E', 'F', '', 'H', 'J', 'K'],
       # 'Amounts': ['A', 'Undisclosed', '$4,000', '$5,000', 'undisclosed', '$7,000,000', 'Seed', '$4,000', 'series A', '$5,000'],
       # 'Stage': ['Upsparks', 'Series C', 'series c', 'seed', 'seed', 'seed', '$2,000', 'seed', '$3,000', 'series A']}
df = pd.DataFrame(df_2018)
 
# Display the DataFrame before processing
print("DataFrame before processing:")
print(df)
info = df.info()
#print("\n Info before processing")
#print(info)
 
# Call the function to replace NaN values in 'Founders' with "N/A"
df['Founders'] = df['Founders'].fillna('N/A')
 
# Call the function to strip dollar sign and comma from numeric values
df = strip_dollar_and_comma(df)
 
# Display the DataFrame after stripping dollar sign and comma
print("\nDataFrame after stripping dollar sign and comma:")
print(df)
 
# Call the function to swap non-numeric with numeric values
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping Numerical values in Stage with non-numericals in amounts
print("\nDataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':")
print(df)
 
# Call the function to swap numeric with non-numeric values in 'Founders'
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping numeric with non-numeric values in 'Founders'
#print("\nDataFrame after swapping numeric in 'Founders' with non-numeric values in 'Amount':")
#print(df)
# Call the function to fill null values with 'N/A'
df = fill_null_values(df)
 # Display the DataFrame after filling null values
print("\nDataFrame after filling null values with 'N/A':")

print(df)
# Call the function to replace non-numeric values in 'Amounts' with 0
df = replace_non_numeric_with_zero(df)

# Call the function to fill null values in  'Founded' with 0
df = fill_null_values(df) 
# Display the DataFrame after filling null values
#print("\nDataFrame after filling null values with 'N/A' and 'Founded' with 0:")
#print(df)

 
 
# Display the DataFrame after replacing non-numeric values with 0
#My amounts column should have all numerics
#print("\nDataFrame after replacing non-numeric values with 0 :")
print("\nDataFrame after processing:")
cleandata_2018=df
cleandata_2018.head(10)

DataFrame before processing:
         Company_Brand Founded                       HeadQuarter  \
0      TheCollegeFever       0       Bangalore, Karnataka, India
1      Happy Cow Dairy       0        Mumbai, Maharashtra, India
2           MyLoanCare       0           Gurgaon, Haryana, India
3          PayMe India       0       Noida, Uttar Pradesh, India
4             Eunimart       0  Hyderabad, Andhra Pradesh, India
..                 ...     ...                               ...
521              Udaan       0       Bangalore, Karnataka, India
522  Happyeasygo Group       0           Haryana, Haryana, India
523             Mombay       0        Mumbai, Maharashtra, India
524         Droni Tech       0        Mumbai, Maharashtra, India
525            Netmeds       0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

          Amount     Stage
0         250000      Seed
1    ₹40,000,000      Seed
2    ₹65,000,000  Series A
3        2000000     Angel
4              —      Seed
..           ...       ...
521    225000000  Series C
522            —  Series A
523         7500      Seed
524  ₹35,000,000      Seed
525     35000000  Series C

[526 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Founded        526 non-null    object
 2   HeadQuarter    526 non-null    object
 3   Sector         526 non-null    object
 4   What_it_does   526 non-null    object
 5   Founders       526 non-null    object
 6   Investor       526 non-null    object
 7   Amount         526 non-null    object
 8   Stage          526 non-null    object
dtypes: object(9)
memory usage: 37.1+ KB

DataFrame after stripping dollar sign and comma:
         Company_Brand Founded                       HeadQuarter  \
0      TheCollegeFever       0       Bangalore, Karnataka, India
1      Happy Cow Dairy       0        Mumbai, Maharashtra, India
2           MyLoanCare       0           Gurgaon, Haryana, India
3          PayMe India       0       Noida, Uttar Pradesh, India
4             Eunimart       0  Hyderabad, Andhra Pradesh, India
..                 ...     ...                               ...
521              Udaan       0       Bangalore, Karnataka, India
522  Happyeasygo Group       0           Haryana, Haryana, India
523             Mombay       0        Mumbai, Maharashtra, India
524         Droni Tech       0        Mumbai, Maharashtra, India
525            Netmeds       0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount    Stage
0       250000     Seed
1     40000000     Seed
2     65000000  SeriesA
3      2000000    Angel
4            —     Seed
..         ...      ...
521  225000000  SeriesC
522          —  SeriesA
523       7500     Seed
524   35000000     Seed
525   35000000  SeriesC

[526 rows x 9 columns]

DataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':

         Company_Brand Founded                       HeadQuarter  \
0      TheCollegeFever       0       Bangalore, Karnataka, India
1      Happy Cow Dairy       0        Mumbai, Maharashtra, India
2           MyLoanCare       0           Gurgaon, Haryana, India
3          PayMe India       0       Noida, Uttar Pradesh, India
4             Eunimart       0  Hyderabad, Andhra Pradesh, India
..                 ...     ...                               ...
521              Udaan       0       Bangalore, Karnataka, India
522  Happyeasygo Group       0           Haryana, Haryana, India
523             Mombay       0        Mumbai, Maharashtra, India
524         Droni Tech       0        Mumbai, Maharashtra, India
525            Netmeds       0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount    Stage
0       250000     Seed
1     40000000     Seed
2     65000000  SeriesA
3      2000000    Angel
4            —     Seed
..         ...      ...
521  225000000  SeriesC
522          —  SeriesA
523       7500     Seed
524   35000000     Seed
525   35000000  SeriesC

[526 rows x 9 columns]

DataFrame after filling null values with 'N/A':
         Company_Brand  Founded                       HeadQuarter  \
0      TheCollegeFever        0       Bangalore, Karnataka, India
1      Happy Cow Dairy        0        Mumbai, Maharashtra, India
2           MyLoanCare        0           Gurgaon, Haryana, India
3          PayMe India        0       Noida, Uttar Pradesh, India
4             Eunimart        0  Hyderabad, Andhra Pradesh, India
..                 ...      ...                               ...
521              Udaan        0       Bangalore, Karnataka, India
522  Happyeasygo Group        0           Haryana, Haryana, India
523             Mombay        0        Mumbai, Maharashtra, India
524         Droni Tech        0        Mumbai, Maharashtra, India
525            Netmeds        0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount    Stage
0       250000     Seed
1     40000000     Seed
2     65000000  SeriesA
3      2000000    Angel
4            —     Seed
..         ...      ...
521  225000000  SeriesC
522          —  SeriesA
523       7500     Seed
524   35000000     Seed
525   35000000  SeriesC

[526 rows x 9 columns]

DataFrame after processing:

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,TheCollegeFever,0,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",N/A,N/A,250000,Seed
1,Happy Cow Dairy,0,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,N/A,N/A,40000000,Seed
2,MyLoanCare,0,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,N/A,N/A,65000000,SeriesA
3,PayMe India,0,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,N/A,N/A,2000000,Angel
4,Eunimart,0,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,N/A,N/A,0,Seed
5,Hasura,0,"Bengaluru, Karnataka, India","Cloud Infrastructure, PaaS, SaaS",Hasura is a platform that allows developers to...,N/A,N/A,1600000,Seed
6,Tripshelf,0,"Kalkaji, Delhi, India","Internet, Leisure, Marketplace",Tripshelf is an online market place for holida...,N/A,N/A,16000000,Seed
7,Hyperdata.IO,0,"Hyderabad, Andhra Pradesh, India",Market Research,Hyperdata combines advanced machine learning w...,N/A,N/A,50000000,Angel
8,Freightwalla,0,"Mumbai, Maharashtra, India","Information Services, Information Technology",Freightwalla is an international forwarder tha...,N/A,N/A,0,Seed
9,Microchip Payments,0,"Bangalore, Karnataka, India",Mobile Payments,Microchip payments is a mobile-based payment a...,N/A,N/A,0,Seed

***cleaning 2021***

2019

2018

Changing column names