*ECOSYSTEM STARTUP*
**Overview**
***As data experts, our team is embarking on a comprehensive analysis of the Indian startup ecosystem's funding landscape from 2018 to 2021. This project aims to delve into the details of funding received by startups during these years, providing valuable insights for strategic decision-making and business planning.***

**Objectives**
1.Funding Landscape Exploration: Investigate and understand the funding patterns, trends, and distributions within the Indian startup ecosystem for the specified years.
2.Sector-wise Analysis: Analyze funding trends across different industry sectors to identify key areas of investment and growth.
3.Investor Insights: Examine the involvement of investors, both in terms of frequency and amount, to identify influential backers in the startup ecosystem.
4.Startup Profiling: Profile startups based on their founding years, sectors, and funding stages to gain a holistic view of the evolving entrepreneurial landscape.
5.Recommendations: Formulate actionable recommendations based on the analysis, guiding the team's strategic approach and potential opportunities within the Indian startup ecosystem.


**Expected Outcomes**
1.Insightful Visualizations: Visual representations of funding trends, sectoral analysis, and investor contributions.
2.Key Findings: Identification of significant trends, sectors attracting the most funding, and prominent investors.
3.Strategic Recommendations: Actionable insights guiding potential avenues for investment, partnerships, or market entry.

In [277]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [278]:
environment_variables = dotenv_values('.env')

In [279]:
# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [280]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [281]:

# Use the connect method of the pyodbc library and pass in the connection string.
connection = pyodbc.connect(connection_string)

In [282]:
#
query1 = "SELECT * FROM dbo.LP1_Startup_funding2020"
df_2020 = pd.read_sql(query1, connection)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [283]:
#overview of 2020 data
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [284]:
query2 = "SELECT * FROM dbo.LP1_Startup_funding2021"
df_2021 = pd.read_sql(query2, connection)
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [285]:
#overview of 2021 data
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [286]:
#reading third dataset
df_2019 =  pd.read_csv(r'C:\Users\Georginah/Downloads/startup_funding2019.csv')
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [287]:
#overview of 2019 data
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [288]:
df_2018 = pd.read_csv(r'C:\Users\Georginah\Downloads\startup_funding2018.csv')
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [289]:
#overview of 2018 data
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

Observations from the data
#There are some columns with different names, and need to be changed for uniformity before concatenation
#The currency in most data is in dollars, with one dataset(2018) with both rupees and dollars.The rupees need to be changed to dollars
#There is an extra column(column 10) in the 2020 data that we don't really need, so we will delete it

***Data Cleaning 2018***

In [290]:
#view 2018 data
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [291]:
#rename columns
new_names = {'Company Name':'Company_Brand','Industry':'Sector','Round/Series':'Stage','Location':'HeadQuarter','About Company':'What_it_does'}
df = df_2018.rename(columns=new_names)
df.head()

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [292]:
# Add new columns with NaN values

df['Founded'] = '0'
df['Founders'] = 'N/A'
df['Investor'] = 'N/A'

In [293]:
# Rearrange columns
columns_order = ['Company_Brand','Founded', 'HeadQuarter', 'Sector','What_it_does','Founders','Investor','Amount','Stage']

df = df.reindex(columns=columns_order)

df_2018 = df
df_2018

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,TheCollegeFever,0,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",N/A,N/A,250000,Seed
1,Happy Cow Dairy,0,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,N/A,N/A,"₹40,000,000",Seed
2,MyLoanCare,0,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,N/A,N/A,"₹65,000,000",Series A
3,PayMe India,0,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,N/A,N/A,2000000,Angel
4,Eunimart,0,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,N/A,N/A,—,Seed
...,...,...,...,...,...,...,...,...,...
521,Udaan,0,"Bangalore, Karnataka, India","B2B, Business Development, Internet, Marketplace","Udaan is a B2B trade platform, designed specif...",N/A,N/A,225000000,Series C
522,Happyeasygo Group,0,"Haryana, Haryana, India","Tourism, Travel",HappyEasyGo is an online travel domain.,N/A,N/A,—,Series A
523,Mombay,0,"Mumbai, Maharashtra, India","Food and Beverage, Food Delivery, Internet",Mombay is a unique opportunity for housewives ...,N/A,N/A,7500,Seed
524,Droni Tech,0,"Mumbai, Maharashtra, India",Information Technology,Droni Tech manufacture UAVs and develop softwa...,N/A,N/A,"₹35,000,000",Seed
525,Netmeds,0,"Chennai, Tamil Nadu, India","Biotechnology, Health Care, Pharmaceutical",Welcome to India's most convenient pharmacy!,N/A,N/A,35000000,Series C

In [294]:
#checking info of the df
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Founded        526 non-null    object
 2   HeadQuarter    526 non-null    object
 3   Sector         526 non-null    object
 4   What_it_does   526 non-null    object
 5   Founders       526 non-null    object
 6   Investor       526 non-null    object
 7   Amount         526 non-null    object
 8   Stage          526 non-null    object
dtypes: object(9)
memory usage: 37.1+ KB

In [295]:
#viewing the amount column
df_2018['Amount']

0           250000
1      ₹40,000,000
2      ₹65,000,000
3          2000000
4                —
          ...
521      225000000
522              —
523           7500
524    ₹35,000,000
525       35000000
Name: Amount, Length: 526, dtype: object

In [296]:
#Processing Amount column data2018
#Converting Rupee to dollars
 
 
def replace_missing_values(df):
    # Assuming 'Amount' is the column containing values
    column_name = 'Amount'
 
    # Replace '—' and NaN values with 0
    df[column_name] = df[column_name].replace(['—', pd.NA], 0)
 
    return df
 
def add_currency_sign(df):
    # Assuming 'Amount' is the column containing numeric values
    column_name = 'Amount'
 
    # Identify numeric values in the 'Amount' column
    numeric_values = pd.to_numeric(df[column_name], errors='coerce').notna()
 
    # Identify values with existing currency signs
    skip_values = df[column_name].astype(str).str.contains('[$₹]')
 
    # Add dollar sign to numeric values without existing currency signs
    df.loc[numeric_values & ~skip_values, column_name] = df.loc[numeric_values & ~skip_values, column_name].apply(lambda x: f'${x}' if pd.notna(x) else x)
 
    return df
 
 
 
 
def convert_rupees_to_dollars(df):
    # Assuming 'Amount' is the column containing values in rupees (₹)
    column_name = 'Amount'
 
    # Exchange rate from rupees to dollars
    exchange_rate = 0.0146   # Adjust this value based on the current exchange rate
 
    # Convert values to dollars and add dollar sign
    df[column_name] = df[column_name].apply(lambda x: f'${float(x.replace(",", "")[1:]) * exchange_rate}' if isinstance(x, str) and '₹' in x else x)
 
    return df
 
 
 
def add_dollar_sign(df):
    # Assuming 'Amount' is the column containing numerical values
    column_name = 'Amount'
 
    # Identify values with a dollar sign
    dollar_values = df[column_name].astype(str).str.contains('\$')
 
    # Add dollar sign to values without an existing dollar sign
    df.loc[~dollar_values, column_name] = df.loc[~dollar_values, column_name].apply(lambda x: f'${x}' if pd.notnull(x) else x)
 
    return df
 
 
 
 
def strip_dollar_and_comma(df):
    # Assuming 'Amount' is the column containing numerical values
    column_name = 'Amount'
 
    # Strip dollar signs and commas from the values in 'Amount' column
    df[column_name] = df[column_name].astype(str).replace('[\$,]', '', regex=True)
 
    return df
 
def convert_float_to_integer(df):
    # Assuming 'Amount' is the column containing numerical values
    column_name = 'Amount'
 
    # Convert float values to integers in the 'Amount' column
    df[column_name] = df[column_name].apply(lambda x: int(x) if pd.notnull(x) and isinstance(x, float) else x)
 
    return df
 
# Additional function to remove decimal for ".0" values
def remove_decimal(df):
    # Assuming 'Amount' is the column containing numerical values
    column_name = 'Amount'
 
    # Convert ".0" values to integers in the 'Amount' column
    df[column_name] = df[column_name].apply(lambda x: int(x) if pd.notnull(x) and isinstance(x, float) and x.is_integer() else x)
 
    return df
 
def strip_decimals(df):
    # Assuming 'Amount' is the column containing values
    column_name = 'Amount'
 
    # Strip decimals from string values in the 'Amount' column
    df[column_name] = df[column_name].apply(lambda x: str(int(float(x))) if isinstance(x, str) and '.' in x else x)
 
    return df
 
 
 
 
def convert_to_integer(df):
    # Assuming 'Amount' is the column containing values
    column_name = 'Amount'
 
    # Convert string values to integers in the 'Amount' column
    df[column_name] = pd.to_numeric(df[column_name].astype(str).str.replace('[^\d]', ''), errors='coerce').fillna(0).astype(int)
 
    return df
 
 
 
df = pd.DataFrame(df_2018)
 
# Replace missing values
df = replace_missing_values(df)
 
# Add currency sign to numeric values
df = add_currency_sign(df)
 
# Convert rupees to dollars and add dollar sign
df = convert_rupees_to_dollars(df)
 
# Add dollar sign to values in the 'Amount' column
df = add_dollar_sign(df)
 
# Strip dollar signs and commas from values in the 'Amount' column
df = strip_dollar_and_comma(df)
 
 
df = convert_float_to_integer(df)
 
# Remove decimal for ".0" values in the 'Amount' column
df = remove_decimal(df)
 
# Display the updated DataFrame
#print(df)
 
df = strip_decimals(df)
 
 
 
# Convert string values to integers in the 'Amount' column
df = convert_to_integer(df)
 
# Display the updated DataFrame
df_2018 = df
df_2018

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,TheCollegeFever,0,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",N/A,N/A,250000,Seed
1,Happy Cow Dairy,0,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,N/A,N/A,584000,Seed
2,MyLoanCare,0,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,N/A,N/A,949000,Series A
3,PayMe India,0,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,N/A,N/A,2000000,Angel
4,Eunimart,0,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,N/A,N/A,0,Seed
...,...,...,...,...,...,...,...,...,...
521,Udaan,0,"Bangalore, Karnataka, India","B2B, Business Development, Internet, Marketplace","Udaan is a B2B trade platform, designed specif...",N/A,N/A,225000000,Series C
522,Happyeasygo Group,0,"Haryana, Haryana, India","Tourism, Travel",HappyEasyGo is an online travel domain.,N/A,N/A,0,Series A
523,Mombay,0,"Mumbai, Maharashtra, India","Food and Beverage, Food Delivery, Internet",Mombay is a unique opportunity for housewives ...,N/A,N/A,7500,Seed
524,Droni Tech,0,"Mumbai, Maharashtra, India",Information Technology,Droni Tech manufacture UAVs and develop softwa...,N/A,N/A,511000,Seed
525,Netmeds,0,"Chennai, Tamil Nadu, India","Biotechnology, Health Care, Pharmaceutical",Welcome to India's most convenient pharmacy!,N/A,N/A,35000000,Series C

In [297]:
#cleaning the whole database after rearranging the columns ,inserting the columns and filling the inserted columns with n/a and 0
def swap_non_numeric_with_numeric(df):
    amounts_column = 'Amount'
    stage_column = 'Stage'
    investor_column = 'Investor'
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Function to find numeric values in 'Stage' column
    def find_numeric_values():
        numeric_dict = {}
        for index, value in df[stage_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values()
 
    # Find numeric values in 'Stage' column
    numeric_values = find_numeric_values()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Stage'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Stage' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, stage_column] = non_numeric_values[index]
 
    # Function to find numeric values in 'Investor' column
    def find_numeric_values_founders():
        numeric_dict = {}
        for index, value in df[investor_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values_founders():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values_founders()
 
    # Find numeric values in 'Founders' column
    numeric_values = find_numeric_values_founders()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Founders'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Founders' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, investor_column] = non_numeric_values[index]
 
    return df
 
 
def strip_dollar_and_comma(df):
    # Assuming column names are 'Amounts' and 'Stage'
    numeric_columns = ['Investor', 'Amount', 'Stage']
 
    # Iterate through numeric columns and strip dollar sign ($) and comma (,)
    for column in numeric_columns:
        df[column] = df[column].replace('[\₹ ,]', '', regex=True)
 
    return df
 
 
def replace_non_numeric_with_zero(df):
    # Assuming column name is 'Amounts'
    amounts_column = 'Amount'
    # Replace non-numeric values in 'Amounts' column with 0
    df[amounts_column] = pd.to_numeric(df[amounts_column], errors='coerce').fillna(0).astype(int)
 
    return df


def fill_null_values(df):
    # Specify the columns to fill with 'N/A'
    columns_to_fill_na = ['HeadQuarter', 'Investor', 'Stage','Sector']
 
    # Fill null values in specified columns with 'N/A'
    df[columns_to_fill_na] = df[columns_to_fill_na].fillna('N/A')

    # Fill null values in 'Founded' with 0   
    df['Founded'] = df['Founded'].fillna(0)

    # Convert 'Founded' values to integers    
    df['Founded'] = df['Founded'].astype(int)
 
    return df


  
 
# Example usage
#data = {'Founders': ['$1,200', '$1,300,000', '', 'D', 'E', 'F', '', 'H', 'J', 'K'],
       # 'Amounts': ['A', 'Undisclosed', '$4,000', '$5,000', 'undisclosed', '$7,000,000', 'Seed', '$4,000', 'series A', '$5,000'],
       # 'Stage': ['Upsparks', 'Series C', 'series c', 'seed', 'seed', 'seed', '$2,000', 'seed', '$3,000', 'series A']}
df = pd.DataFrame(df_2018)
 
# Display the DataFrame before processing
print("DataFrame before processing:")
print(df)
info = df.info()
#print("\n Info before processing")
#print(info)
 
# Call the function to replace NaN values in 'Founders' with "N/A"
df['Founders'] = df['Founders'].fillna('N/A')
 
# Call the function to strip dollar sign and comma from numeric values
df = strip_dollar_and_comma(df)
 
# Display the DataFrame after stripping dollar sign and comma
print("\nDataFrame after stripping dollar sign and comma:")
print(df)
 
# Call the function to swap non-numeric with numeric values
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping Numerical values in Stage with non-numericals in amounts
print("\nDataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':")
print(df)
 
# Call the function to swap numeric with non-numeric values in 'Founders'
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping numeric with non-numeric values in 'Founders'
#print("\nDataFrame after swapping numeric in 'Founders' with non-numeric values in 'Amount':")
#print(df)
# Call the function to fill null values with 'N/A'
df = fill_null_values(df)
 # Display the DataFrame after filling null values
print("\nDataFrame after filling null values with 'N/A':")

print(df)
# Call the function to replace non-numeric values in 'Amounts' with 0
df = replace_non_numeric_with_zero(df)

# Call the function to fill null values in  'Founded' with 0
df = fill_null_values(df) 
# Display the DataFrame after filling null values
#print("\nDataFrame after filling null values with 'N/A' and 'Founded' with 0:")
#print(df)

 
 
# Display the DataFrame after replacing non-numeric values with 0
#My amounts column should have all numerics
#print("\nDataFrame after replacing non-numeric values with 0 :")
print("\nDataFrame after processing:")
cleandata_2018=df
cleandata_2018.head(10)

DataFrame before processing:
         Company_Brand Founded                       HeadQuarter  \
0      TheCollegeFever       0       Bangalore, Karnataka, India
1      Happy Cow Dairy       0        Mumbai, Maharashtra, India
2           MyLoanCare       0           Gurgaon, Haryana, India
3          PayMe India       0       Noida, Uttar Pradesh, India
4             Eunimart       0  Hyderabad, Andhra Pradesh, India
..                 ...     ...                               ...
521              Udaan       0       Bangalore, Karnataka, India
522  Happyeasygo Group       0           Haryana, Haryana, India
523             Mombay       0        Mumbai, Maharashtra, India
524         Droni Tech       0        Mumbai, Maharashtra, India
525            Netmeds       0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount     Stage
0       250000      Seed
1       584000      Seed
2       949000  Series A
3      2000000     Angel
4            0      Seed
..         ...       ...
521  225000000  Series C
522          0  Series A
523       7500      Seed
524     511000      Seed
525   35000000  Series C

[526 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Founded        526 non-null    object
 2   HeadQuarter    526 non-null    object
 3   Sector         526 non-null    object
 4   What_it_does   526 non-null    object
 5   Founders       526 non-null    object
 6   Investor       526 non-null    object
 7   Amount         526 non-null    int32
 8   Stage          526 non-null    object
dtypes: int32(1), object(8)
memory usage: 35.1+ KB

DataFrame after stripping dollar sign and comma:
         Company_Brand Founded                       HeadQuarter  \
0      TheCollegeFever       0       Bangalore, Karnataka, India
1      Happy Cow Dairy       0        Mumbai, Maharashtra, India
2           MyLoanCare       0           Gurgaon, Haryana, India
3          PayMe India       0       Noida, Uttar Pradesh, India
4             Eunimart       0  Hyderabad, Andhra Pradesh, India
..                 ...     ...                               ...
521              Udaan       0       Bangalore, Karnataka, India
522  Happyeasygo Group       0           Haryana, Haryana, India
523             Mombay       0        Mumbai, Maharashtra, India
524         Droni Tech       0        Mumbai, Maharashtra, India
525            Netmeds       0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount    Stage
0       250000     Seed
1       584000     Seed
2       949000  SeriesA
3      2000000    Angel
4            0     Seed
..         ...      ...
521  225000000  SeriesC
522          0  SeriesA
523       7500     Seed
524     511000     Seed
525   35000000  SeriesC

[526 rows x 9 columns]

DataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':
         Company_Brand Founded                       HeadQuarter  \
0      TheCollegeFever       0       Bangalore, Karnataka, India
1      Happy Cow Dairy       0        Mumbai, Maharashtra, India
2           MyLoanCare       0           Gurgaon, Haryana, India
3          PayMe India       0       Noida, Uttar Pradesh, India
4             Eunimart       0  Hyderabad, Andhra Pradesh, India
..                 ...     ...                               ...
521              Udaan       0       Bangalore, Karnataka, India
522  Happyeasygo Group       0           Haryana, Haryana, India
523             Mombay       0        Mumbai, Maharashtra, India
524         Droni Tech       0        Mumbai, Maharashtra, India
525            Netmeds       0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount    Stage
0       250000     Seed
1       584000     Seed
2       949000  SeriesA
3      2000000    Angel
4            0     Seed
..         ...      ...
521  225000000  SeriesC
522          0  SeriesA
523       7500     Seed
524     511000     Seed
525   35000000  SeriesC

[526 rows x 9 columns]

DataFrame after filling null values with 'N/A':
         Company_Brand  Founded                       HeadQuarter  \
0      TheCollegeFever        0       Bangalore, Karnataka, India
1      Happy Cow Dairy        0        Mumbai, Maharashtra, India
2           MyLoanCare        0           Gurgaon, Haryana, India
3          PayMe India        0       Noida, Uttar Pradesh, India
4             Eunimart        0  Hyderabad, Andhra Pradesh, India
..                 ...      ...                               ...
521              Udaan        0       Bangalore, Karnataka, India
522  Happyeasygo Group        0           Haryana, Haryana, India
523             Mombay        0        Mumbai, Maharashtra, India
524         Droni Tech        0        Mumbai, Maharashtra, India
525            Netmeds        0        Chennai, Tamil Nadu, India

                                                Sector  \
0    Brand Marketing, Event Promotion, Marketing, S...
1                                 Agriculture, Farming
2     Credit, Financial Services, Lending, Marketplace
3                          Financial Services, FinTech
4                   E-Commerce Platforms, Retail, SaaS
..                                                 ...
521   B2B, Business Development, Internet, Marketplace
522                                    Tourism, Travel
523         Food and Beverage, Food Delivery, Internet
524                             Information Technology
525         Biotechnology, Health Care, Pharmaceutical

                                          What_it_does Founders Investor  \
0    TheCollegeFever is a hub for fun, fiesta and f...      N/A      N/A
1    A startup which aggregates milk from dairy far...      N/A      N/A
2            Leading Online Loans Marketplace in India      N/A      N/A
3    PayMe India is an innovative FinTech organizat...      N/A      N/A
4    Eunimart is a one stop solution for merchants ...      N/A      N/A
..                                                 ...      ...      ...
521  Udaan is a B2B trade platform, designed specif...      N/A      N/A
522            HappyEasyGo is an online travel domain.      N/A      N/A
523  Mombay is a unique opportunity for housewives ...      N/A      N/A
524  Droni Tech manufacture UAVs and develop softwa...      N/A      N/A
525       Welcome to India's most convenient pharmacy!      N/A      N/A

        Amount    Stage
0       250000     Seed
1       584000     Seed
2       949000  SeriesA
3      2000000    Angel
4            0     Seed
..         ...      ...
521  225000000  SeriesC
522          0  SeriesA
523       7500     Seed
524     511000     Seed
525   35000000  SeriesC

[526 rows x 9 columns]

DataFrame after processing:

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,TheCollegeFever,0,"Bangalore, Karnataka, India","Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",N/A,N/A,250000,Seed
1,Happy Cow Dairy,0,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,N/A,N/A,584000,Seed
2,MyLoanCare,0,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,N/A,N/A,949000,SeriesA
3,PayMe India,0,"Noida, Uttar Pradesh, India","Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,N/A,N/A,2000000,Angel
4,Eunimart,0,"Hyderabad, Andhra Pradesh, India","E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,N/A,N/A,0,Seed
5,Hasura,0,"Bengaluru, Karnataka, India","Cloud Infrastructure, PaaS, SaaS",Hasura is a platform that allows developers to...,N/A,N/A,1600000,Seed
6,Tripshelf,0,"Kalkaji, Delhi, India","Internet, Leisure, Marketplace",Tripshelf is an online market place for holida...,N/A,N/A,233600,Seed
7,Hyperdata.IO,0,"Hyderabad, Andhra Pradesh, India",Market Research,Hyperdata combines advanced machine learning w...,N/A,N/A,730000,Angel
8,Freightwalla,0,"Mumbai, Maharashtra, India","Information Services, Information Technology",Freightwalla is an international forwarder tha...,N/A,N/A,0,Seed
9,Microchip Payments,0,"Bangalore, Karnataka, India",Mobile Payments,Microchip payments is a mobile-based payment a...,N/A,N/A,0,Seed

In [298]:
# checking the null values after cleaning 
cleandata_2018.isna().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

***cleaning 2019***

In [299]:
#viewing 2019 data
df_2019.head(9)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.","$1,000,000",Pre series A
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,"$20,000,000",Series A

In [300]:
# Convert 'Amount' column to string and delete rows where 'Amount' is "Undisclosed" or "undisclosed"
df_2019 = df_2019[(df_2019['Amount($)'].astype(str).str.lower() != 'Undisclosed') & (df_2019['Amount($)'] != 'Undisclosed')]
 
# Display the DataFrame after deleting the rows
print("DataFrame after deleting rows with 'Undisclosed' or 'undisclosed' in 'Amount($)' column:")
df_2019.head(9)

DataFrame after deleting rows with 'Undisclosed' or 'undisclosed' in 'Amount($)' column:

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.","$1,000,000",Pre series A
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,"$20,000,000",Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,"$275,000,000",Series G
11,Appnomic,NaN,Bangalore,SaaS,"It is a self-healing enterprise, the IT operat...",D Padmanabhan,Avataar Ventures,"$22,000,000",NaN

In [301]:
# Renaming columns
df_2019.rename(columns={'Amount($)': 'Amount','Company/Brand':'Company_Brand','What it does': 'What_it_does'}, inplace=True)
df_2019

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [302]:
def swap_non_numeric_with_numeric(df):
    amounts_column = 'Amount'
    stage_column = 'Stage'
    investor_column = 'Investor'
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Function to find numeric values in 'Stage' column
    def find_numeric_values():
        numeric_dict = {}
        for index, value in df[stage_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values()
 
    # Find numeric values in 'Stage' column
    numeric_values = find_numeric_values()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Stage'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Stage' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, stage_column] = non_numeric_values[index]
 
    # Function to find numeric values in 'Investor' column
    def find_numeric_values_founders():
        numeric_dict = {}
        for index, value in df[investor_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values_founders():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values_founders()
 
    # Find numeric values in 'Founders' column
    numeric_values = find_numeric_values_founders()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Founders'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Founders' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, investor_column] = non_numeric_values[index]
 
    return df
 
 
def strip_dollar_and_comma(df):
    # Assuming column names are 'Amounts' and 'Stage'
    numeric_columns = ['Investor', 'Amount', 'Stage']
 
    # Iterate through numeric columns and strip dollar sign ($) and comma (,)
    for column in numeric_columns:
        df[column] = df[column].replace('[\$ ,]', '', regex=True)
 
    return df
 
 
def replace_non_numeric_with_zero(df):
    # Assuming column name is 'Amounts'
    amounts_column = 'Amount'
    # Replace non-numeric values in 'Amounts' column with 0
    df[amounts_column] = pd.to_numeric(df[amounts_column], errors='coerce').fillna(0).astype(int)
 
    return df


def fill_null_values(df):
    # Specify the columns to fill with 'N/A'
    columns_to_fill_na = ['HeadQuarter', 'Investor', 'Stage','Sector']
 
    # Fill null values in specified columns with 'N/A'
    df[columns_to_fill_na] = df[columns_to_fill_na].fillna('N/A')

    # Fill null values in 'Founded' with 0   
    df['Founded'] = df['Founded'].fillna(0)

    # Convert 'Founded' values to integers    
    df['Founded'] = df['Founded'].astype(int)
 
    return df


  
 
# Example usage
#data = {'Founders': ['$1,200', '$1,300,000', '', 'D', 'E', 'F', '', 'H', 'J', 'K'],
       # 'Amounts': ['A', 'Undisclosed', '$4,000', '$5,000', 'undisclosed', '$7,000,000', 'Seed', '$4,000', 'series A', '$5,000'],
       # 'Stage': ['Upsparks', 'Series C', 'series c', 'seed', 'seed', 'seed', '$2,000', 'seed', '$3,000', 'series A']}
df = pd.DataFrame(df_2019)
 
# Display the DataFrame before processing
print("DataFrame before processing:")
print(df)
info = df.info()
#print("\n Info before processing")
#print(info)
 
# Call the function to replace NaN values in 'Founders' with "N/A"
df['Founders'] = df['Founders'].fillna('N/A')
 
# Call the function to strip dollar sign and comma from numeric values
df = strip_dollar_and_comma(df)
 
# Display the DataFrame after stripping dollar sign and comma
#print("\nDataFrame after stripping dollar sign and comma:")
#print(df)
 
# Call the function to swap non-numeric with numeric values
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping Numerical values in Stage with non-numericals in amounts
#print("\nDataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':")
#print(df)
 
# Call the function to swap numeric with non-numeric values in 'Founders'
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping numeric with non-numeric values in 'Founders'
#print("\nDataFrame after swapping numeric in 'Founders' with non-numeric values in 'Amount':")
#print(df)
# Call the function to fill null values with 'N/A'
df = fill_null_values(df)
 # Display the DataFrame after filling null values
print("\nDataFrame after filling null values with 'N/A':")

print(df)
# Call the function to replace non-numeric values in 'Amounts' with 0
df = replace_non_numeric_with_zero(df)

# Call the function to fill null values in  'Founded' with 0
df = fill_null_values(df) 
# Display the DataFrame after filling null values
#print("\nDataFrame after filling null values with 'N/A' and 'Founded' with 0:")
#print(df)

 
 
# Display the DataFrame after replacing non-numeric values with 0
#My amounts column should have all numerics
#print("\nDataFrame after replacing non-numeric values with 0 :")
print("\nDataFrame after processing:")
cleandata_2019=df
cleandata_2019.head(10)

DataFrame before processing:
      Company_Brand  Founded HeadQuarter                   Sector  \
0    Bombay Shaving      NaN         NaN                Ecommerce
1         Ruangguru   2014.0      Mumbai                   Edtech
2          Eduisfun      NaN      Mumbai                   Edtech
3          HomeLane   2014.0     Chennai          Interior design
4          Nu Genes   2004.0   Telangana                 AgriTech
..              ...      ...         ...                      ...
84     Infra.Market      NaN      Mumbai                Infratech
85              Oyo   2013.0    Gurugram              Hospitality
86       GoMechanic   2016.0       Delhi  Automobile & Technology
87           Spinny   2015.0       Delhi               Automobile
88  Ess Kay Fincorp      NaN   Rajasthan                  Banking

                                         What_it_does  \
0          Provides a range of male grooming products
1   A learning platform that provides topic-based ...
2             It aims to make learning fun via games.
3               Provides interior designing solutions
4   It is a seed company engaged in production, pr...
..                                                ...
84  It connects client requirements to their suppl...
85                Provides rooms for comfortable stay
86  Find automobile repair and maintenance service...
87                                Online car retailer
88              Organised Non-Banking Finance Company

                                             Founders  \
0                                  Shantanu Deshpande
1               Adamas Belva Syah Devara, Iman Usman.
2                                       Jatin Solanki
3                        Srikanth Iyer, Rama Harinath
4                              Narayana Reddy Punyala
..                                                ...
84                    Aaditya Sharda, Souvik Sengupta
85                                     Ritesh Agarwal
86  Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...
87  Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...
88                                     Rajendra Setia

                                             Investor        Amount  \
0                                Sixth Sense Ventures    $6,300,000
1                                    General Atlantic  $150,000,000
2      Deepak Parekh, Amitabh Bachchan, Piyush Pandey   $28,000,000
3   Evolvence India Fund (EIF), Pidilite Group, FJ...   $30,000,000
4            Innovation in Food and Agriculture (IFA)    $6,000,000
..                                                ...           ...
84  Tiger Global, Nexus Venture Partners, Accel Pa...   $20,000,000
85  MyPreferred Transformation, Avendus Finance, S...  $693,000,000
86                                    Sequoia Capital    $5,000,000
87  Norwest Venture Partners, General Catalyst, Fu...   $50,000,000
88     TPG, Norwest Venture Partners, Evolvence India   $33,000,000

            Stage
0             NaN
1        Series C
2   Fresh funding
3        Series D
4             NaN
..            ...
84       Series A
85            NaN
86       Series B
87            NaN
88            NaN

[77 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  77 non-null     object
 1   Founded        52 non-null     float64
 2   HeadQuarter    61 non-null     object
 3   Sector         72 non-null     object
 4   What_it_does   77 non-null     object
 5   Founders       74 non-null     object
 6   Investor       77 non-null     object
 7   Amount         77 non-null     object
 8   Stage          40 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.0+ KB

DataFrame after filling null values with 'N/A':
      Company_Brand  Founded HeadQuarter                   Sector  \
0    Bombay Shaving        0         N/A                Ecommerce
1         Ruangguru     2014      Mumbai                   Edtech
2          Eduisfun        0      Mumbai                   Edtech
3          HomeLane     2014     Chennai          Interior design
4          Nu Genes     2004   Telangana                 AgriTech
..              ...      ...         ...                      ...
84     Infra.Market        0      Mumbai                Infratech
85              Oyo     2013    Gurugram              Hospitality
86       GoMechanic     2016       Delhi  Automobile & Technology
87           Spinny     2015       Delhi               Automobile
88  Ess Kay Fincorp        0   Rajasthan                  Banking

                                         What_it_does  \
0          Provides a range of male grooming products
1   A learning platform that provides topic-based ...
2             It aims to make learning fun via games.
3               Provides interior designing solutions
4   It is a seed company engaged in production, pr...
..                                                ...
84  It connects client requirements to their suppl...
85                Provides rooms for comfortable stay
86  Find automobile repair and maintenance service...
87                                Online car retailer
88              Organised Non-Banking Finance Company

                                             Founders  \
0                                  Shantanu Deshpande
1               Adamas Belva Syah Devara, Iman Usman.
2                                       Jatin Solanki
3                        Srikanth Iyer, Rama Harinath
4                              Narayana Reddy Punyala
..                                                ...
84                    Aaditya Sharda, Souvik Sengupta
85                                     Ritesh Agarwal
86  Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...
87  Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...
88                                     Rajendra Setia

                                             Investor     Amount         Stage
0                                  SixthSenseVentures    6300000           N/A
1                                     GeneralAtlantic  150000000       SeriesC
2             DeepakParekhAmitabhBachchanPiyushPandey   28000000  Freshfunding
3          EvolvenceIndiaFund(EIF)PidiliteGroupFJLabs   30000000       SeriesD
4                 InnovationinFoodandAgriculture(IFA)    6000000           N/A
..                                                ...        ...           ...
84  TigerGlobalNexusVenturePartnersAccelPartnersDh...   20000000       SeriesA
85    MyPreferredTransformationAvendusFinanceSoftBank  693000000           N/A
86                                     SequoiaCapital    5000000       SeriesB
87  NorwestVenturePartnersGeneralCatalystFundament...   50000000           N/A
88            TPGNorwestVenturePartnersEvolvenceIndia   33000000           N/A

[77 rows x 9 columns]

DataFrame after processing:

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Bombay Shaving,0,N/A,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,SixthSenseVentures,6300000,N/A
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",GeneralAtlantic,150000000,SeriesC
2,Eduisfun,0,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,DeepakParekhAmitabhBachchanPiyushPandey,28000000,Freshfunding
3,HomeLane,2014,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath",EvolvenceIndiaFund(EIF)PidiliteGroupFJLabs,30000000,SeriesD
4,Nu Genes,2004,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,InnovationinFoodandAgriculture(IFA),6000000,N/A
7,Kratikal,2013,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa",GildaVCArtVentureRajeevChitrabhanu.,1000000,PreseriesA
8,Quantiphi,0,N/A,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,MultiplesAlternateAssetManagement,20000000,SeriesA
9,Lenskart,2010,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,275000000,SeriesG
11,Appnomic,0,Bangalore,SaaS,"It is a self-healing enterprise, the IT operat...",D Padmanabhan,AvataarVentures,22000000,N/A
12,Kaleidofin,2018,Chennai,Fintech,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,5000000,SeriesA

In [303]:
#checking the cleaned data
cleandata_2019.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

**Cleaning 2020 data**

In [304]:
# Viewing the data 
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [305]:
# showing the data type 
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [306]:
# checking the frequency count of missing values 
df_2020.apply(lambda X:sum(X.isnull()))

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [307]:
def swap_non_numeric_with_numeric(df):
    amounts_column = 'Amount'
    stage_column = 'Stage'
    investor_column = 'Investor'

 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Function to find numeric values in 'Stage' column
    def find_numeric_values():
        numeric_dict = {}
        for index, value in df[stage_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values()
 
    # Find numeric values in 'Stage' column
    numeric_values = find_numeric_values()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Stage'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Stage' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, stage_column] = non_numeric_values[index]
 
    # Function to find numeric values in 'Investor' column
    def find_numeric_values_founders():
        numeric_dict = {}
        for index, value in df[investor_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values_founders():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values_founders()
 
    # Find numeric values in 'Founders' column
    numeric_values = find_numeric_values_founders()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Founders'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Founders' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, investor_column] = non_numeric_values[index]
 
    return df
 
 
def strip_dollar_and_comma(df):
    # Assuming column names are 'Amounts' and 'Stage'
    numeric_columns = ['Investor', 'Amount', 'Stage']
 
    # Iterate through numeric columns and strip dollar sign ($) and comma (,)
    for column in numeric_columns:
        df[column] = df[column].replace('[\$]', '', regex=True)
 
    return df
 
 
def replace_non_numeric_with_zero(df):
    # Assuming column name is 'Amounts'
    amounts_column = 'Amount'
    # Replace non-numeric values in 'Amounts' column with 0
    df[amounts_column] = pd.to_numeric(df[amounts_column], errors='coerce').fillna(0).astype(int)
 
    return df


def fill_null_values(df):
    # Specify the columns to fill with 'N/A'
    columns_to_fill_na = ['HeadQuarter', 'Investor', 'Stage','Sector']
 
    # Fill null values in specified columns with 'N/A'
    df[columns_to_fill_na] = df[columns_to_fill_na].fillna('N/A')

    # Fill null values in 'Founded' with 0   
    df['Founded'] = df['Founded'].fillna(0)

    # Convert 'Founded' values to integers    
    df['Founded'] = df['Founded'].astype(int)
 
    return df


  
 
# Example usage
#data = {'Founders': ['$1,200', '$1,300,000', '', 'D', 'E', 'F', '', 'H', 'J', 'K'],
       # 'Amounts': ['A', 'Undisclosed', '$4,000', '$5,000', 'undisclosed', '$7,000,000', 'Seed', '$4,000', 'series A', '$5,000'],
       # 'Stage': ['Upsparks', 'Series C', 'series c', 'seed', 'seed', 'seed', '$2,000', 'seed', '$3,000', 'series A']}
df = pd.DataFrame(df_2020)
 
# Display the DataFrame before processing
print("DataFrame before processing:")
print(df)
info = df.info()
#print("\n Info before processing")
#print(info)
 
# Call the function to replace NaN values in 'Founders' with "N/A"
df['Founders'] = df['Founders'].fillna('N/A')
 
# Call the function to strip dollar sign and comma from numeric values
df = strip_dollar_and_comma(df)
 
# Display the DataFrame after stripping dollar sign and comma
#print("\nDataFrame after stripping dollar sign and comma:")
#print(df)
 
# Call the function to swap non-numeric with numeric values
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping Numerical values in Stage with non-numericals in amounts
#print("\nDataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':")
#print(df)
 
# Call the function to swap numeric with non-numeric values in 'Founders'
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping numeric with non-numeric values in 'Founders'
#print("\nDataFrame after swapping numeric in 'Founders' with non-numeric values in 'Amount':")
#print(df)
# Call the function to fill null values with 'N/A'
df = fill_null_values(df)
 # Display the DataFrame after filling null values
print("\nDataFrame after filling null values with 'N/A':")

print(df)
# Call the function to replace non-numeric values in 'Amounts' with 0
df = replace_non_numeric_with_zero(df)

# Call the function to fill null values in  'Founded' with 0
df = fill_null_values(df) 
# Display the DataFrame after filling null values
#print("\nDataFrame after filling null values with 'N/A' and 'Founded' with 0:")
#print(df)

 
 
# Display the DataFrame after replacing non-numeric values with 0
#My amounts column should have all numerics
#print("\nDataFrame after replacing non-numeric values with 0 :")
print("\nDataFrame after processing:")
cleandata_2020=df
cleandata_2020.head(10)

DataFrame before processing:
     Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin   2019.0     Chennai            AgriTech
1         Krayonnz   2019.0   Bangalore              EdTech
2     PadCare Labs   2018.0        Pune  Hygiene management
3            NCOME   2020.0   New Delhi              Escrow
4       Gramophone   2016.0      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu      NaN       Delhi              Edtech
1051         EpiFi      NaN        None             Fintech
1052       Purplle   2012.0      Mumbai           Cosmetics
1053        Shuttl   2015.0       Delhi           Transport
1054         Pando   2017.0     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage column10
0                           Angel investors    200000.0        None     None
1                           GSF Accelerator    100000.0    Pre-seed     None
2                            Venture Center         NaN    Pre-seed     None
3       Venture Catalysts, PointOne Capital    400000.0        None     None
4       Siana Capital Management, Info Edge    340000.0        None     None
...                                     ...         ...         ...      ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None     None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round     None
1052                             Verlinvest   8000000.0        None     None
1053             SIG Global India Fund LLP.   8043000.0    Series C     None
1054                      Chiratae Ventures   9000000.0    Series A     None

[1055 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

DataFrame after filling null values with 'N/A':
     Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin     2019     Chennai            AgriTech
1         Krayonnz     2019   Bangalore              EdTech
2     PadCare Labs     2018        Pune  Hygiene management
3            NCOME     2020   New Delhi              Escrow
4       Gramophone     2016      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu        0       Delhi              Edtech
1051         EpiFi        0         N/A             Fintech
1052       Purplle     2012      Mumbai           Cosmetics
1053        Shuttl     2015       Delhi           Transport
1054         Pando     2017     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage column10
0                           Angel investors    200000.0         N/A     None
1                           GSF Accelerator    100000.0    Pre-seed     None
2                            Venture Center         NaN    Pre-seed     None
3       Venture Catalysts, PointOne Capital    400000.0         N/A     None
4       Siana Capital Management, Info Edge    340000.0         N/A     None
...                                     ...         ...         ...      ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0         N/A     None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round     None
1052                             Verlinvest   8000000.0         N/A     None
1053             SIG Global India Fund LLP.   8043000.0    Series C     None
1054                      Chiratae Ventures   9000000.0    Series A     None

[1055 rows x 10 columns]

DataFrame after processing:

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000,N/A,None
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000,Pre-seed,None
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,0,Pre-seed,None
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000,N/A,None
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000,N/A,None
5,qZense,2019,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000,Seed,None
6,MyClassboard,2008,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000,Pre-series A,None
7,Metvy,2018,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,0,Pre-series,None
8,Rupeek,2015,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000,Series C,None
9,Gig India,2017,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000,Pre-series A,None

In [308]:
#dropping column 10
final_2020=cleandata_2020.drop('column10', axis=1)
final_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000,N/A
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,0,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000,N/A
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000,N/A
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,0,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000,N/A
1051,EpiFi,0,N/A,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000,Seed Round
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000,N/A
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000,Series C
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000,Series A

In [309]:
final_2020.isna().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

**Cleaning 2021 data**

In [310]:
df_2021.head(8)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A

In [311]:
# Convert 'Amount' column to string and delete rows where 'Amount' is "Undisclosed" or "undisclosed"
df_2021 = df_2021[(df_2021['Amount'].astype(str).str.lower() != 'Undisclosed') & (df_2021['Amount'] != 'Undisclosed')]
 
# Display the DataFrame after deleting the rows
print("DataFrame after deleting rows with 'Undisclosed' or 'undisclosed' in 'Amount' column:")
df_2021.head(8)

DataFrame after deleting rows with 'Undisclosed' or 'undisclosed' in 'Amount' column:

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [312]:
def swap_non_numeric_with_numeric(df):
    amounts_column = 'Amount'
    stage_column = 'Stage'
    investor_column = 'Investor'
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Function to find numeric values in 'Stage' column
    def find_numeric_values():
        numeric_dict = {}
        for index, value in df[stage_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values()
 
    # Find numeric values in 'Stage' column
    numeric_values = find_numeric_values()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Stage'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Stage' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, stage_column] = non_numeric_values[index]
 
    # Function to find numeric values in 'Investor' column
    def find_numeric_values_founders():
        numeric_dict = {}
        for index, value in df[investor_column].items():
            try:
                numeric_dict[index] = pd.to_numeric(value)
            except ValueError:
                pass  # Ignore non-numeric values
        return numeric_dict
 
    # Function to find non-numeric values in 'Amounts' column
    def find_non_numeric_values_founders():
        non_numeric_dict = {}
        for index, value in df[amounts_column].items():
            try:
                pd.to_numeric(value)
            except ValueError:
                non_numeric_dict[index] = value
        return non_numeric_dict
 
    # Find non-numeric values in 'Amounts' column
    non_numeric_values = find_non_numeric_values_founders()
 
    # Find numeric values in 'Founders' column
    numeric_values = find_numeric_values_founders()
 
    # Swap non-numeric values in 'Amounts' with numeric values in 'Founders'
    for index, non_numeric_value in non_numeric_values.items():
        if index in numeric_values:
            df.at[index, amounts_column] = numeric_values[index]
 
    # Swap numeric values in 'Founders' with non-numeric values in 'Amounts'
    for index, numeric_value in numeric_values.items():
        if index in non_numeric_values:
            df.at[index, investor_column] = non_numeric_values[index]
 
    return df
 
 
def strip_dollar_and_comma(df):
    # Assuming column names are 'Amounts' and 'Stage'
    numeric_columns = ['Investor', 'Amount', 'Stage']
 
    # Iterate through numeric columns and strip dollar sign ($) and comma (,)
    for column in numeric_columns:
        df[column] = df[column].replace('[\$ ,]', '', regex=True)
 
    return df
 
 
def replace_non_numeric_with_zero(df):
    # Assuming column name is 'Amounts'
    amounts_column = 'Amount'
    # Replace non-numeric values in 'Amounts' column with 0
    df[amounts_column] = pd.to_numeric(df[amounts_column], errors='coerce').fillna(0).astype(int)
 
    return df


def fill_null_values(df):
    # Specify the columns to fill with 'N/A'
    columns_to_fill_na = ['HeadQuarter', 'Investor', 'Stage','Sector']
 
    # Fill null values in specified columns with 'N/A'
    df[columns_to_fill_na] = df[columns_to_fill_na].fillna('N/A')

    # Fill null values in 'Founded' with 0   
    df['Founded'] = df['Founded'].fillna(0)

    # Convert 'Founded' values to integers    
    df['Founded'] = df['Founded'].astype(int)
 
    return df


  
 
# Example usage
#data = {'Founders': ['$1,200', '$1,300,000', '', 'D', 'E', 'F', '', 'H', 'J', 'K'],
       # 'Amounts': ['A', 'Undisclosed', '$4,000', '$5,000', 'undisclosed', '$7,000,000', 'Seed', '$4,000', 'series A', '$5,000'],
       # 'Stage': ['Upsparks', 'Series C', 'series c', 'seed', 'seed', 'seed', '$2,000', 'seed', '$3,000', 'series A']}
df = pd.DataFrame(df_2021)
 
# Display the DataFrame before processing
print("DataFrame before processing:")
print(df)
info = df.info()
#print("\n Info before processing")
#print(info)
 
# Call the function to replace NaN values in 'Founders' with "N/A"
df['Founders'] = df['Founders'].fillna('N/A')
 
# Call the function to strip dollar sign and comma from numeric values
df = strip_dollar_and_comma(df)
 
# Display the DataFrame after stripping dollar sign and comma
#print("\nDataFrame after stripping dollar sign and comma:")
#print(df)
 
# Call the function to swap non-numeric with numeric values
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping Numerical values in Stage with non-numericals in amounts
#print("\nDataFrame after swapping numeric in 'Stage' with non-numeric values in 'Amount':")
#print(df)
 
# Call the function to swap numeric with non-numeric values in 'Founders'
df = swap_non_numeric_with_numeric(df)
 
# Display the DataFrame after swapping numeric with non-numeric values in 'Founders'
#print("\nDataFrame after swapping numeric in 'Founders' with non-numeric values in 'Amount':")
#print(df)
# Call the function to fill null values with 'N/A'
df = fill_null_values(df)
 # Display the DataFrame after filling null values
print("\nDataFrame after filling null values with 'N/A':")

print(df)
# Call the function to replace non-numeric values in 'Amounts' with 0
df = replace_non_numeric_with_zero(df)

# Call the function to fill null values in  'Founded' with 0
df = fill_null_values(df) 
# Display the DataFrame after filling null values
#print("\nDataFrame after filling null values with 'N/A' and 'Founded' with 0:")
#print(df)

 
 
# Display the DataFrame after replacing non-numeric values with 0
#My amounts column should have all numerics
#print("\nDataFrame after replacing non-numeric values with 0 :")
print("\nDataFrame after processing:")
cleandata_2021=df
cleandata_2021.head(10)

DataFrame before processing:
       Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor        Amount  \
0                       BEENEXT, Entrepreneur First    $1,200,000
1          Unilazer Ventures, IIFL Asset Management  $120,000,000
2                  GSV Ventures, Westbridge Capital   $30,000,000
3                            CDC Group, IDG Capital   $51,000,000
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    $2,000,000
...                                             ...           ...
1204                                Endiya Partners      $3000000
1205                                       IIFL AMC     $20000000
1206                                   Owl Ventures     $55000000
1207               Winter Capital, ETS, Man Capital     $26000000
1208                 3one4 Capital, Kalaari Capital      $8000000

             Stage
0     Pre-series A
1             None
2         Series D
3         Series C
4             Seed
...            ...
1204  Pre-series A
1205      Series D
1206      Series C
1207      Series B
1208      Series A

[1166 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1166 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1166 non-null   object
 1   Founded        1165 non-null   float64
 2   HeadQuarter    1165 non-null   object
 3   Sector         1166 non-null   object
 4   What_it_does   1166 non-null   object
 5   Founders       1162 non-null   object
 6   Investor       1105 non-null   object
 7   Amount         1163 non-null   object
 8   Stage          754 non-null    object
dtypes: float64(1), object(8)
memory usage: 91.1+ KB

DataFrame after filling null values with 'N/A':
       Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics     2019   Bangalore             AI startup
1             upGrad     2015      Mumbai                 EdTech
2        Lead School     2012      Mumbai                 EdTech
3            Bizongo     2015      Mumbai         B2B E-commerce
4           FypMoney     2021    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce     2019    Gurugram  Staffing & Recruiting
1205          Vahdam     2015   New Delhi       Food & Beverages
1206    Leap Finance     2019   Bangalore     Financial Services
1207    CollegeDekho     2015    Gurugram                 EdTech
1208          WeRize     2019   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                    Investor     Amount        Stage
0                   BEENEXTEntrepreneurFirst    1200000  Pre-seriesA
1        UnilazerVenturesIIFLAssetManagement  120000000          N/A
2               GSVVenturesWestbridgeCapital   30000000      SeriesD
3                         CDCGroupIDGCapital   51000000      SeriesC
4     LiberathaKallatMukeshYadavDineshNagpal    2000000         Seed
...                                      ...        ...          ...
1204                          EndiyaPartners    3000000  Pre-seriesA
1205                                 IIFLAMC   20000000      SeriesD
1206                             OwlVentures   55000000      SeriesC
1207              WinterCapitalETSManCapital   26000000      SeriesB
1208              3one4CapitalKalaariCapital    8000000      SeriesA

[1166 rows x 9 columns]

DataFrame after processing:

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon",BEENEXTEntrepreneurFirst,1200000,Pre-seriesA
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...",UnilazerVenturesIIFLAssetManagement,120000000,N/A
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta",GSVVenturesWestbridgeCapital,30000000,SeriesD
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal",CDCGroupIDGCapital,51000000,SeriesC
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,LiberathaKallatMukeshYadavDineshNagpal,2000000,Seed
5,Urban Company,2014,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",VyCapital,188000000,N/A
6,Comofi Medtech,2018,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,CIIE.COKIIT-TBI,200000,N/A
9,Taikee,2010,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",N/A,1000000,N/A
10,Fitterfly,2016,Mumbai,HealthTech,Fitterfly offers customized and personalized w...,Dr Arbinder Singal,9UnicornsAcceleratorFundMetaformVentures,3000000,Pre-seriesA
11,FreeStand,2017,New Delhi,B2B service,FreeStand enables FMCG brands to execute track...,"Konark Sharma, Sneh Soni",SucSEEDIndovationIIMCalcuttaInnovationPark,100000,N/A

In [313]:
#checking for nulls
cleandata_2021.isna().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

**Concatenating the datasets**

In [314]:
# concantinating the databases
# Assuming you have datasets named data2021, data2020, data2019, data2018
 
# Sample data for illustration
#final_2020 = pd.final_2020
#cleandata_2021 = pd.cleandata_2021
#cleandata_2019 = pd.cleandata_2019
#cleandata_2018 = pd.cleandata_2018
 
# Concatenate datasets and create an additional 'Year' column
concatenated_data = pd.concat([final_2020, cleandata_2021, cleandata_2019, cleandata_2018], keys=['2020', '2021', '2019', '2018'], names=['Year'])
concatenated_data

              Company_Brand  Founded                  HeadQuarter  \
Year
2020 0           Aqgromalin     2019                      Chennai
     1             Krayonnz     2019                    Bangalore
     2         PadCare Labs     2018                         Pune
     3                NCOME     2020                    New Delhi
     4           Gramophone     2016                       Indore
...                     ...      ...                          ...
2018 521              Udaan        0  Bangalore, Karnataka, India
     522  Happyeasygo Group        0      Haryana, Haryana, India
     523             Mombay        0   Mumbai, Maharashtra, India
     524         Droni Tech        0   Mumbai, Maharashtra, India
     525            Netmeds        0   Chennai, Tamil Nadu, India

                                                    Sector  \
Year
2020 0                                            AgriTech
     1                                              EdTech
     2                                  Hygiene management
     3                                              Escrow
     4                                            AgriTech
...                                                    ...
2018 521  B2B, Business Development, Internet, Marketplace
     522                                   Tourism, Travel
     523        Food and Beverage, Food Delivery, Internet
     524                            Information Technology
     525        Biotechnology, Health Care, Pharmaceutical

                                               What_it_does  \
Year
2020 0                         Cultivating Ideas for Profit
     1    An academy-guardian-scholar centric ecosystem ...
     2     Converting bio-hazardous waste to harmless waste
     3                         Escrow-as-a-service platform
     4    Gramophone is an AgTech platform enabling acce...
...                                                     ...
2018 521  Udaan is a B2B trade platform, designed specif...
     522            HappyEasyGo is an online travel domain.
     523  Mombay is a unique opportunity for housewives ...
     524  Droni Tech manufacture UAVs and develop softwa...
     525       Welcome to India's most convenient pharmacy!

                                                   Founders  \
Year
2020 0                      Prasanna Manogaran, Bharani C L
     1                     Saurabh Dixit, Gurudutt Upadhyay
     2                                      Ajinkya Dhariya
     3                                        Ritesh Tiwari
     4    Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                     ...
2018 521                                                N/A
     522                                                N/A
     523                                                N/A
     524                                                N/A
     525                                                N/A

                                     Investor     Amount     Stage
Year
2020 0                        Angel investors     200000       N/A
     1                        GSF Accelerator     100000  Pre-seed
     2                         Venture Center          0  Pre-seed
     3    Venture Catalysts, PointOne Capital     400000       N/A
     4    Siana Capital Management, Info Edge     340000       N/A
...                                       ...        ...       ...
2018 521                                  N/A  225000000   SeriesC
     522                                  N/A          0   SeriesA
     523                                  N/A       7500      Seed
     524                                  N/A     511000      Seed
     525                                  N/A   35000000   SeriesC

[2824 rows x 9 columns]

In [315]:
#checking for nulls
concatenated_data.isna().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [316]:
#checking data info
concatenated_data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2824 entries, ('2020', 0) to ('2018', 525)
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2824 non-null   object
 1   Founded        2824 non-null   int32
 2   HeadQuarter    2824 non-null   object
 3   Sector         2824 non-null   object
 4   What_it_does   2824 non-null   object
 5   Founders       2824 non-null   object
 6   Investor       2824 non-null   object
 7   Amount         2824 non-null   int32
 8   Stage          2824 non-null   object
dtypes: int32(2), object(7)
memory usage: 226.8+ KB

In [317]:
# Check for duplicate entries
print("\nDuplicate Entries:", concatenated_data.duplicated().sum())
 
# Drop duplicates if necessary
concatenated_data.drop_duplicates(inplace=True)

Duplicate Entries: 23

In [318]:
Amount_column_concatenated = concatenated_data['Amount']
print(Amount_column_concatenated)

Year
2020  0         200000
      1         100000
      2              0
      3         400000
      4         340000
               ...
2018  521    225000000
      522            0
      523         7500
      524       511000
      525     35000000
Name: Amount, Length: 2801, dtype: int32

In [319]:
Amount_column_2021 = cleandata_2020['Amount']
Amount_column_2021

0         200000
1         100000
2              0
3         400000
4         340000
          ...
1050     1500000
1051    13200000
1052     8000000
1053     8043000
1054     9000000
Name: Amount, Length: 1055, dtype: int32

In [320]:
Amount_column_2019 = cleandata_2019['Amount']
Amount_column_2019

0       6300000
1     150000000
2      28000000
3      30000000
4       6000000
        ...
84     20000000
85    693000000
86      5000000
87     50000000
88     33000000
Name: Amount, Length: 77, dtype: int32

**Exploratory Data Analysis**

In [321]:
#summary statistics
concatenated_data.describe()

           Founded        Amount
count  2801.000000  2.801000e+03
mean   1466.141021  1.635429e+07
std     898.065979  1.069558e+08
min       0.000000 -2.147484e+09
25%       0.000000  2.500000e+05
50%    2015.000000  1.700000e+06
75%    2018.000000  8.090000e+06
max    2021.000000  1.000000e+09